__pycache__

# LaTeX build artifacts
presentation/*.aux
presentation/*.fdb_latexmk
presentation/*.fls
presentation/*.log
presentation/*.nav
presentation/*.out
presentation/*.snm
presentation/*.synctex.gz
presentation/*.toc

comparison_pico_scope/scope_feature_cache

# Uncomment if compiled presentations should not be committed
# presentation/*.pdf