__pycache__

# LaTeX build artifacts
presentation/*.aux
presentation/*.fdb_latexmk
presentation/*.fls
presentation/*.log
presentation/*.nav
presentation/*.out
presentation/*.snm
presentation/*.synctex.gz
presentation/*.toc

comparison_pico_scope/scope_feature_cache
waveform_analysis/results/

# Uncomment if compiled presentations should not be committed
# presentation/*.pdf

# Report LaTeX build artifacts
report/main.aux
report/main.bbl
report/main.bcf
report/main.blg
report/main.fdb_latexmk
report/main.fls
report/main.lof
report/main.log
report/main.lot
report/main.nav
report/main.out
report/main.pdf
report/main.run.xml
report/main.snm
report/main.synctex.gz
report/main.toc
report/main.vrb
!report/main.tex

# Report LaTeX build artifacts
update_report/main.aux
update_report/main.bbl
update_report/main.bcf
update_report/main.blg
update_report/main.fdb_latexmk
update_report/main.fls
update_report/main.lof
update_report/main.log
update_report/main.lot
update_report/main.nav
update_report/main.out
update_report/main.pdf
update_report/main.run.xml
update_report/main.snm
update_report/main.synctex.gz
update_report/main.toc
update_report/main.vrb
!update_report/main.tex
